<!-- HTML Parameter, Style links for images, bootstrap styling, and custom css styles. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%endblock%}</title>
       <!-- CSS Styles -->
   <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">
   <!-- custom styles -->
   <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />
</head>

<!-- Base body, which creates the default webpage format that is grabbed by each url. The base styles are run through the index function
which then transmits the layout to every other app route.  -->

<body class="d-flex flex-column h-100">  
    <header>

      <!-- Fixed navbar. This navbar is used with bootstrap and displays the navigation bar that is located at the top of each webpage.
      Base.html transmits that general layout between other page URLs. -->

      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('index')}}"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
             <!-- These are the navigations within the nav bar to the various page. The first one is to the index page, which uses jinja to navigate
             to app.py to take the user back to the main page. The second one uses the course_list function in app.py to tranfer user through
             that app route to the courses page (course_list)  -->
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
                <a class="nav-link active" aria-current="page" href="{{url_for('course_list')}}">Courses</a>
                <a class="nav-link active" aria-current="page" href="{{url_for('new_course')}}">Add Courses</a>
              </li>
              <li class = "nav-item">
              </li>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- Navbar shrinking styling effect -->
    <main class="flex-shrink-0">
        <div class="container">

   {% block content %}{% endblock %}
   <!-- This creates the Practice Flask App Copyright at the bottom of the page, which is tranfered between pages 
   just like other elements above. -->
   
        </div>
    </main>
   <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">I211 Practice Flask App &copy; 2021</span>
    </div>
    </footer>
   <!-- JavaScript -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>